<div class="login-form">
    <mat-card>
        <div class="login-header">
            <h2>Login</h2>
        </div>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="validateUser()">
                <div class="userNameInput">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input formControlName="userName" matInput placeholder="Enter username" />
                        <mat-error *ngIf="loginForm.controls.userName.invalid && loginForm.controls.userName.touched">
                            Username is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="password">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="passWord" matInput type="password" required />
                        <mat-error *ngIf="loginForm.controls.passWord.hasError('minlength') && 
                    (loginForm.controls.passWord.touched ||loginForm.controls.passWord.touched)">
                            Password is too short
                        </mat-error>
                        <mat-error *ngIf="loginForm.controls.passWord.invalid && (!loginForm.controls.passWord.dirty)">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="login-button">
                    <button class="form-button" mat-flat-button color="primary"
                        [disabled]="loginForm.invalid">Login</button>
                </div>
                <mat-error class="invalid-feedback" *ngIf="loginForm.hasError('invalid')">
                    Username or Password is incorrect
                </mat-error>
                <div class="text-center text-lg-start mt-4">
                    <p class="small fw-bold mt-1 pt-1 mb-0 text-center">New Customer? <a href="/sign-up"
                            class="text-blue-50 fw-bold">Create New Account</a></p>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>